$side: left; 
$val : 500;
.gap-left-50{
    margin-#{$side}: 50px;
}
.gap-left-50{
 margin-left: 50px;
}

// .gap-#{$side}-50{
//     margin-#{$side}: 50px;
// } 
 
// @mixin gap($side, $value){
//     margin-#{$side}: $value + px;
// }
// .myclass{
//     @include gap(left, 200)
// }